<main>
  <div class="info-principal-empresa">
    <div class="perfil">
      <div class="titulo">
        <p class="titulo-empresa">Perfil Empresa</p>
      </div>
      <img class="factory-grande" src="../../../assets/images/factory-grande.png" alt="">
      <p class="nombre-empresa">Softtek</p>
      <p class="razon-social"> Softtek Information Services, S.A. de C.V </p>
      <p class="representante">Representante:</p>
      <p class="nombre-representante">Fausto Hernandez</p>
      <p class="correo-representante">fausto.hernandez1607@gmail.com</p>
      <ul>
        <li class="button-general b1" ><p>Postulación de Vacantes</p><span class="span1" tabindex="0"></span></li>
        <li class="button-general b2" ><p>Búsqueda de candidatos</p><span class="span2" tabindex="0"></span></li>
        <li class="button-general b3" ><p>Vacantes y candidatos postulados</p><span class="span3" tabindex="0"></span></li>
        <li class="button-general b4" ><p>Candidatos guardados</p><span class="span4" tabindex="0"></span></li>
        <li class="button-general b5" ><p>Crear perfil adicional</p><span class="span5" tabindex="0"></span></li>
        <li class="button-general b6" href=""><p>Información adicional</p><span class="span6" tabindex="0"></span></li>
      </ul>

    </div>

    <!--BLOQUE DE INFORMACION-->

    <div class="info">
      <div class="titulo">

      </div>

    </div>
  </div>
</main>
