<footer>
  <div class="footer">
    <div class="parte1">
      <div class="nav-footer">
        <ul class="list">
          <li><a href="#">Acerca de</a></li>
          <li><a class="nav-item2" href="#">Artículos</a></li>
          <li><a class="nav-item3" href="#">Empresas</a></li>
          <li><a class="nav-item4" href="#">Primer Empleo</a></li>
        </ul>
      </div>
      <div class="seccion2">
        <div class="caja-logo">

            <a href="#"><img src="../../../assets/images/Logo profesionistas fondo negro.png" alt="logo" class="logo-p"></a>
        </div>
        <div class="caja-redes">
          <div class="facebook">
            <a href="#"><img src="../../../assets/images/facebook.png" alt="fb"></a>
          </div>
          <div class="linkedin">
            <a href="#"><img src="../../../assets/images/linkedin.png" alt="in"></a>
          </div>
          <div class="instagram">
            <a href="#"><img src="../../../assets/images/instagram.png" alt="it"></a>
          </div>
          <div class="twitter">
            <a href="#"><img src="../../../assets/images/twitter.png" alt="tw"></a>
          </div>
          <div class="youtube">
            <a href="#"><img src="../../../assets/images/youtube.png" alt="yt"></a>
          </div>
        </div>
        <div class="caja-correo">
          <div class="correo">
            <p>Correo: <span>hola@profesionistas.org.mx</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="parte2">
      <div class="term-aviso">
        <div class="terminos">
          <a href="#">Términos y condiciones</a> >
        </div>
        <div class="aviso">
          <a href="#">Aviso de privacidad</a>
        </div>
      </div>
      <div class="copy">
        <p>Profesionistas © 2013 - 2017 Derechos reservados</p>
      </div>

    </div>
  </div>
</footer>
